.btn {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  padding: 10px 30px;
  padding-left: 2rem;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.8px;
  transition-property: none;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  cursor: pointer;
  text-transform: capitalize;
  line-height: 1;
}

.btn:link,
.btn:visited {
  color: inherit;
}

.underlinedWhite,
.underlinedWhite:link,
.underlinedWhite:visited {
  background-color: none;
  color: var(--white);
  border-bottom: 1px solid var(--white);
  border-radius: 0px;
  padding: 5px 0px;
}
/* 
.underlinedWhite:hover {
  border: 1px solid var(--darkGray);
  background-color: var(--darkGray);
} */

.underlinedBlack,
.underlinedBlack:link,
.underlinedBlack:visited {
  background-color: none;
  color: var(--black);
  font-size: 2rem;
  border-bottom: 1px solid var(--black);
  border-radius: 0px;
  padding: 5px 0px;
  justify-content: space-between;
}
/* 
.underlinedBlack:hover {
  border: 1px solid var(--darkGray);
  background-color: var(--darkGray);
} */

.black,
.black:link,
.black:visited {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--black);
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}

.black:hover {
  background-color: var(--cream);
  color: var(--black);
}

.gray,
.gray:link,
.gray:visited {
  background-color: var(--strokeii);
  color: var(--white);
  border: 1px solid var(--strokeii);
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}

.gray:hover {
  background-color: var(--cream);
  color: var(--black);
}

.red,
.red:link,
.red:visited {
  background-color: var(--accent);
  color: var(--white);
  border: 1px solid var(--accent);
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}

.red:hover {
  background-color: var(--cream);
  color: var(--accent);
}

.lightRed,
.lightRed:link,
.lightRed:visited {
  background-color: #0000001a;
  color: var(--black);
  border: 1px solid var(--accent);
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}

.lightRed:hover {
  background-color: var(--accent600);
}

.cream,
.cream:link,
.cream:visited {
  background-color: var(--cream);
  color: var(--black);
  border: 1px solid var(--cream);
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}

.cream:hover {
  background-color: var(--strokeii);
}

.blackOutline {
  background-color: transparent;
  color: var(--black);
  border: 1px solid var(--black);
}

.blackOutline:hover {
  background-color: var(--black);
  color: var(--white);
}

.arrow {
  color: inherit;
  transform: rotate(90deg);
  position: relative;
  top: 2px;
}

.transparent {
  color: var(--white) !important;
  background-color: #ffffff1a;
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}

.transparent:hover {
  background-color: var(--black);
  color: var(--yellow);
}

@media (hover: hover) and (pointer: fine) {
  .container:hover .arrow {
    transform: rotate(90deg) translateY(-5px);
  }
}
