/* app/(driver)/driver-dashboard/notifications/NotificationsPage.module.css */

.container {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  padding-bottom: 6rem;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.blockHeader {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}