.container {
  background-color: var(--tan);
  padding: 1rem;
  background-image: radial-gradient(#efeded 2px, transparent 2px);
  background-size: calc(10 * 2px) calc(10 * 2px);
  padding: 10rem 0rem;
}


.form {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.heading,
.copy {
  text-align: center;
}

.heading {
  margin-bottom: 1rem;
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: 100%;
  margin-top: 2rem;
}
