.parent {
  padding-top: 10rem;
  background-color: var(--cream);
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30rem;
}

.left {
  background-color: var(--accent);
}

.top,
.bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.logo {
  font-size: 15rem;
  color: var(--cream);
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.img {
  object-fit: cover;
  object-position: top;
}

@media screen and (max-width: 1068px) {
  .container {
    grid-template-columns: 1fr;
  }

  .content {
    gap: 5rem;
  }

  .imgContainer {
    height: 350px;
    object-position: top;
  }
}

@media screen and (max-width: 568px) {
  .imgContainer {
    height: 250px;
  }
}
