.slider {
  width: 100%;
  overflow: hidden;
  background-color: var(--tan);
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.track {
  display: flex;
  gap: 2rem;
  animation: scroll 40s linear infinite;
  width: max-content;
}

.imgContainer {
  position: relative;
  width: 300px;
  height: 250px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
}

.img {
  object-fit: cover;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.slider:hover .track {
  animation-play-state: paused;
}

@media screen and (max-width: 568px) {
  .track {
    gap: 1rem;
  }

  .imgContainer {
    width: 230px;
    height: 230px;
  }
}
