.container {
  display: grid;
}

.content {
  display: grid;
  grid-template-columns: 2fr 4fr;
  gap: 2rem;
}

.left {
  display: grid;
  gap: 2rem;
  height: fit-content;
  position: sticky;
  top: 80px;
  align-self: start;
  z-index: 10;
}

.routePickerContainer {
  background-color: var(--cream);
  padding: 2rem;
  border-radius: 20px;
}

.right {
  display: grid;
}

.wizard {
  display: grid;
  gap: 14px;
}

.contentBox {
  display: grid;
  gap: 3rem;
}

.pickupDropoffContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
}

.btnRow {
  display: grid;
  width: 100%;
}

.actionsBetween {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.vehicleCard {
  text-align: left;
  padding: 14px;
  border-radius: 7px;
  background: white;
  cursor: pointer;
  display: grid;
  gap: 6px;
}

.vehicleTop {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

@media screen and (max-width: 1268px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }

  .left {
    position: static;
    top: auto;
  }
}
