.container {
  position: relative;
  display: grid;
  place-items: center;
  background-color: var(--white);
  /* padding-block: 4rem; */
  overflow: hidden;
  padding: 10rem 0rem;
}

.video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.imgOverlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 3;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
  /* background-color: red; */
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.heading {
  color: var(--cream);
}

.mapDataContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
}

.card {
  border-right: 1px solid var(--cream);
  padding-right: 5rem;
  background-color: #ffffff1a;
}

.number {
  position: relative;
  width: fit-content;
  margin-bottom: 1.2rem;
  color: var(--cream);
}

.count,
.detail,
.suffix {
  color: var(--cream);
}

.number::after {
  content: "+";
  font-size: 4.5rem;
  color: var(--cream);
  position: absolute;
  top: 0px;
  right: -40px;
}

@media screen and (max-width: 1368px) {
  .br {
    display: none;
  }
}

@media screen and (max-width: 1268px) {
  .content,
  .left {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    width: 100%;
  }

  .br {
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  .right {
    width: 100%;
  }

  .mapDataContainer {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    width: 100%;
  }

  .card {
    width: 100%;
    padding: 2rem;
    border-radius: 10px;
    border-right: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* @media screen and (max-width: 568px) {
  .br {
    display: none;
  }
} */
