.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  /* background-color: var(--cream); */
  border: 2px solid var(--stroke);
  border-radius: 7px;
  padding: 1.5rem;
}

.title {
  font-size: 1.6rem;
  font-weight: 700;
}

.value {
  color: var(--paragraph);
  font-size: 1.4rem;
  font-weight: 800;
}
