.container {
  display: grid;
  gap: 1rem;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 10px;
}

.row {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  align-items: start;
  padding: 1.5rem;
  border-radius: 7px;
  background: var(--lightGrayii);
  border: 1px solid var(--stroke);
}

.left {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  min-width: 0;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
