.container {
  display: grid;
  gap: 1rem;
  border: 1px solid var(--stroke);
  border-radius: 10px;
  padding: 2rem;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
}

.title {
  margin: 0;
}

.meta {
  font-size: 1.25rem;
  opacity: 0.85;
}

.metaStrong {
  font-weight: 800;
  opacity: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.metric {
  border: 1px solid var(--stroke);
  border-radius: 5px;
  padding: 1rem;
  display: grid;
  gap: 2rem;
}

.metricLabel {
  font-size: 1.25rem;
  opacity: 0.75;
  font-weight: 700;
}

.metricValue {
  font-size: 1.4rem;
  font-weight: 800;
}

@media screen and (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
