.imgContainer {
  position: relative;
  width: 100%;
  height: 450px;
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 2rem;
}

.desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--paragraph);
  font-size: 1.6rem;
  line-height: 1.5em;
  letter-spacing: -.8px;
}

.btnContainer {
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .imgContainer {
    height: 225px;
  }
}
