.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.dot {
  background-color: var(--accent);
  width: 12px;
  height: 12px;
  border-radius: 2px;
}

.text {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.8px;
  white-space: nowrap;
  text-transform: capitalize;
}

.red {
  color: var(--accent);
}

.cream {
  color: var(--cream);
}
