.container {
  padding-top: 0rem;
  background-color: var(--cream);
  position: relative;
}

.content {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 2rem;
  align-items: stretch;
}

.flipped {
  grid-template-columns: 40% 60%;
}

.flipped .left {
  order: 2;
}

.left {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  place-items: center;
  padding: 4rem;
  min-height: 100%;
}

.media {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.imgOverlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.statBox {
  position: relative;
  z-index: 2;
  background-color: var(--accent);
  border-radius: 12px;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5rem;
  width: min(400px, 100%);
}

.statNumber {
  color: var(--black);
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: -3px;
  line-height: 1;
}

.subheading {
  color: var(--black);
}

.copy {
  color: var(--black);
  line-height: 1.6;
}

.right {
  background-color: var(--black);
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5rem;
  overflow: hidden;
}

.heading {
  margin-bottom: 3rem;
}

.rightTop {
  padding: 3rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.heading {
  color: var(--white);
}

@media screen and (max-width: 1268px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }

  .flipped {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }

  .flipped {
    grid-template-columns: 1fr;
  }
}
