.container {
  background-color: var(--accent);
  padding: 10rem 0rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5rem;
}

.heading {
  color: var(--tan);
  width: 80%;
  font-family: var(--interTight);
  text-transform: none;
  letter-spacing: normal;
}

.mapDataContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
  padding: 3rem 0rem;
  border-bottom: 1px solid var(--darkGray);
  width: 100%;
}

.id {
  font-size: 6.5rem;
  color: var(--yellow);
  font-weight: 600;
  font-family: var(--sofia);
}

.cardRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.title {
  color: var(--tan);
  font-size: 2.2rem;
}

.desc {
  color: var(--darkGrayii);
}

.btnContainerii {
  display: none;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .btnContainerii {
    display: block;
    margin-top: 3rem;
  }

  .btnContainer {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .card {
    flex-direction: column;
  }

  .id {
    font-size: 5rem;
  }
}
