.container {
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 999px;
  /* padding: 1rem; */
  background-color: var(--accent);
  border: 1px solid var(--cream);
  color: var(--cream);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 0;
}
