.container {
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 5px;
  background-color: var(--accent);
  border: 1px solid var(--cream);
  color: var(--cream);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
}
