.container {
  background-color: var(--white);
  padding: 10rem 0rem;
}

.content {
  grid-template-columns: 4fr 2fr;
  gap: 15rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.left {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 4rem;
}

.copy {
  color: var(--paragraph);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.5rem;
  /* background-color: var(--gray); */
  /* padding: 2rem; */
  /* border-radius: 7px; */
}

.section ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section li {
  color: var(--paragraph);
  line-height: 1.4em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--accent);
  display: inline-block;
  flex: 0 0 8px;
}

.rightContent {
  background-color: var(--stroke);
  border-radius: 7px;
  padding: 3rem;
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 400px;
}

.img {
  object-fit: contain;
  border-radius: 7px;
}

.featureTitle {
  color: var(--black);
}

.btnContainer {
  display: grid;
  width: 100%;
}

.btnContainerii {
  display: none;
  width: 100%;
}

@media screen and (max-width: 1268px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    width: 100%;
  }
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }

  .top {
    margin-bottom: 0rem;
  }

  /* .left {
    grid-template-columns: repeat(2, 1fr);
  } */

  .right {
    order: -1;
  }

  .btnContainer {
    display: none;
  }

  .btnContainerii {
    display: grid;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .imgContainer {
    height: 300px;
  }
}
