.content {
  display: grid;
  grid-template-columns: 2fr 4fr;
}

.left {
  background-color: var(--white);
  padding-top: 10rem;
}

.leftContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15rem;
  height: 100%;
  padding: 3rem;
  padding-right: 10rem;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.copy {
  color: var(--paragraph);
  max-width: 350px;
}

.bottomCopy {
  color: var(--accent);
  max-width: 500px;
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.right {
  position: relative;
  overflow: hidden;
}

.video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videoOverlay {
  position: absolute;
  inset: 0;
  background: rgba(220, 36, 48, 0.25);
  pointer-events: none;
  z-index: 1;
}

.marqueeWrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

@media screen and (max-width: 1468px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 968px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .leftContent {
    gap: 3rem;
    padding-right: 3rem;
  }
  .right {
    height: 400px;
  }
}

@media screen and (max-width: 568px) {
  .right {
    height: 350px;
  }

  .btnContainer {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  /* .bottomCopy, .btnContainer  {
    display: none;
  } */
}
