.top, .bottom {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: fit-content;
}

.clip1,
.clip2 {
  clip-path: polygon(0% 0%, 0% 40%, 50% 100%, 50% 55%, 100% 55%, 50% 0%);

  background-color: red;
  width: 7rem;
  height: 7rem;
}

.clip2 {
  position: relative;
  left: -10px;
}

.bottom {
    transform: rotate(-180deg);
    margin-left: 2.5rem;
}