.container {
  padding: 10rem 0rem;
  background-color: var(--cream);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.heading {
  text-align: center;
}

.copy {
  max-width: 600px;
  text-align: center;
  color: var(--paragraph);
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  width: 450px;
  border: 2px solid var(--stroke);
  padding: 1rem;
  padding-left: 2rem;
  border-radius: 7px;
  margin-top: 2rem;
}

.text {
  display: block;
  color: var(--stroke);
}

@media screen and (max-width: 568px) {
  .searchBar {
    width: 100%;
    gap: 1rem;
  }
}
