.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.left {
  padding: 5rem;
  background-color: var(--accent);
}

.leftContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.heading {
  /* font-size: 3.6rem; */
  color: var(--cream);
}

.copy {
  color: var(--cream);
  max-width: 400px;
}

.list {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10rem;
  grid-row-gap: 1rem;
  list-style: none;
}

.list li {
  color: var(--cream);
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.2em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  font-weight: 700;
}

.dot {
  color: var(--cream);
}

.btnContainer {
  margin-top: 3rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.img {
  object-fit: cover;
}

.menuImageOverlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.logoContainer {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.logo {
  font-size: 15rem;
  color: var(--cream);
}

/* @media screen and (max-width: 1268px) {
  .left {
    padding: 0rem;
  }
} */

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .imgContainer {
    height: 500px;
  }
}

@media screen and (max-width: 568px) {
  /* .left {
    padding: 7rem 0rem;
  } */

  .list {
    grid-column-gap: 5rem;
  }

  .logo {
    font-size: 12rem;
  }
}
