.container {
  padding: 10rem 0rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 3rem;
}

.heading {
  display: none;
}

.AdminSideNavContainer {
  position: sticky;
  top: 0;
  align-self: start;
  z-index: 10;
  top: 50px;
}

.right {
  width: 100%;
}

@media screen and (max-width: 968px) {
  .content {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  .heading {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
  }
}
