.container {
  background-color: var(--cream);
  padding: 10rem 0rem;
}

.top {
  margin-bottom: 5rem;
}

.heading {
  font-size: 15rem;
  line-height: 1em;
  font-weight: 900;
  letter-spacing: -3px;
  text-transform: uppercase;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2rem;
}

.left {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
}

.card {
  padding: 2rem;
  background-color: var(--white);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.25s ease, transform 0.25s ease;
  border: none;
  text-align: left;
  width: 100%;
  display: block;
}

.cardActive,
.card:hover {
  background-color: var(--accent);
}

.city {
  margin-top: 0.5rem;
}

.right {
  background-color: var(--white);
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5rem;
  height: 100%;
  width: 100%;
}

.review {
      -webkit-line-clamp: 4;
    line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    width: 98%;
    display: -webkit-box;
    overflow: hidden;
}

.rightBottom {
  width: 100%;
}

@media screen and (max-width: 1468px) {
  .heading {
    font-size: 12rem;
  }
}

@media screen and (max-width: 1268px) {
  .heading {
    font-size: 10rem;
  }
}

@media screen and (max-width: 1068px) {
  .heading {
    font-size: 8rem;
    letter-spacing: -2.2px;
  }

  .bottom {
    grid-template-columns: 1fr;
  }

  .left {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  .right {
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 6rem;
    letter-spacing: -1.6px;
  }

  .bottom {
    grid-template-columns: 1fr;
  }

  .right {
    gap: 3rem;
  }
}

@media screen and (max-width: 568px) {
  .heading {
    font-size: 4.6rem;
    letter-spacing: -1px;
  }

  .left {
    grid-template-columns: repeat(1, 1fr);
  }
}
