.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 3rem;
}

.heading {
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--stroke);
  width: 100%;
}

.form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5rem;
}

.labelinputcheckbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.labelinputcheckbox input {
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
}

.btnContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: fit-content;
}

@media screen and (max-width: 768px) {
  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
