
.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.heading {
  text-align: center;
  margin-bottom: 7rem;
}

.copy {
  max-width: 650px;
  text-align: center;
  color: var(--darkGray);
  font-size: 1.8rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 400px;
}

.img {
  object-fit: cover;
  border-radius: 15px;
}

.bottom {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4rem;
}

.description {
  color: var(--red);
}

.b1 {
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-gap: 2rem;
  width: 100%;
  border-top: 1px solid var(--text);
  padding-top: 2rem;
}

.desc {
  color: var(--text);
  column-count: 2;
  column-gap: 5rem;
}

.featureContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: 100%;
}

.card {
  background-color: var(--gray3);
  padding: 2rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.indexContainer {
  width: 4rem;
  height: 4rem;
  border: 1px solid var(--black);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index {
  font-size: 2rem;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 2rem;
}

@media screen and (max-width: 968px) {
  .b1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  /* .copy {
    text-align: center;
    width: 100%;
  } */

  .space {
    display: none;
  }

  .btnContainer {
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
  }
}

@media screen and (max-width: 768px) {
  /* .copy {
    width: 100%;
  } */

  .imgContainer {
    height: 300px;
  }

  .desc {
    column-count: 1;
  }
}

@media screen and (max-width: 668px) {
  .content {
    margin-top: 0rem;
  }

  .imgContainer {
    height: 250px;
  }

  /* .copy {
    text-align: left;
  } */

  .featureContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
