.container {
  /* background-color: var(--lightGray); */
  /* padding: 1rem; */
  /* border-radius: 10px; */
  height: 100%;
  /* border: 1px solid var(--stroke); */
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 225px;
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

.digitalBox {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  z-index: 1;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  margin-top: 2rem;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--paragraph);
}
