.container {
  /* padding: 10rem 0rem; */
  padding-bottom: 10rem;
  background-color: var(--cream);
}

.top {
  border-top: 1px solid var(--gray);
  padding-top: 2rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.heading {
  text-align: center;
}

.copy {
  max-width: 600px;
  color: var(--paragraph);
  text-align: center;
}

.btnContainer {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom,
.bottomRight {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.bottom {
  background-color: var(--white);
  border-radius: 20px;
  padding: 2rem;
}

@media screen and (max-width: 1068px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .bottom {
    grid-gap: 10rem;
  }

  .bottomRight {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10rem;
  }
}
