.container {
  background-color: var(--tan);
  padding: 10rem 0rem;
  padding-bottom: 20rem;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-gap: 5rem;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.img {
  object-fit: cover;
  border-radius: 20px;
}

.heading {
  font-size: 5rem;
}

.copy {
  color: var(--darkGray);
  max-width: 450px;
  font-size: 1.8rem;
  font-weight: 500;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.icon {
  width: 100%;
  height: 500px;
}

.formContainer {
  width: 100%;
  margin-top: 3rem;
}


@media screen and (max-width: 1268px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    /* grid-gap: 0rem; */
    margin-top: 3rem;
  }

  .icon {
    width: 100%;
    height: 350px;
  }

  .right {
    align-items: center;
    justify-content: center;
    margin-top: -5rem;
  }

  .heading,
  .copy {
    text-align: center;
  }

  .formContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .right {
    order: -1;
  }

  .imgContainer {
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .formContainer {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .top {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .left .heading,
  .copy {
    width: 100%;
  }

  .lottieBox {
    height: 200px;
  }

  .btnContainer {
    flex-wrap: wrap;
    gap: 0rem;
  }
}

@media screen and (max-width: 380px) {
  .span {
    white-space: inherit;
  }
}
