.container {
  background-color: var(--cream);
  padding: 10rem 0rem;
  padding-bottom: 0rem;
}

.top {
  display: grid;
  grid-template-columns: 2fr 4fr;
  border-top: 2px solid var(--stroke);
  padding-top: 2rem;
}

.marqueeContainer {
  display: none;
}

.logoDetailsSocials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.logo {
  font-size: 3rem;
}

.logoText {
  color: var(--nav-fg);
  letter-spacing: -0.5px;
  font-size: 1.8rem;
  font-weight: 600;
  position: relative;
  top: 6px;
}

.copy {
  color: var(--paragraph);
  width: 300px;
  font-size: 1.4rem;
}

.socialsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  margin-top: 5rem;
}

.socialIcon {
  color: var(--cream);
  background-color: var(--accent);
  border: 1px solid var(--accent);
  width: 4rem;
  height: 4rem;
  border-radius: 7px;
  padding: 0.9rem;
  transition: all 0.2s ease-in;
}

.socialIcon:hover {
  border: 1px solid var(--accent);
  background-color: var(--white);
  color: var(--accent);
  cursor: pointer;
}

.links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding-left: 5rem;
}

.linkSectionTitle {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: normal;
  color: var(--paragraph);
  margin-bottom: 2rem;
}

.linkSectionList {
  list-style: none;
  color: var(--darkGrayii);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.linkSectionItem {
  font-size: 16px;
  line-height: 1.2em;
  letter-spacing: -0.8px;
  font-weight: 500;
}

.bottom {
  border-top: 2px solid var(--stroke);
  margin-top: 5rem;
  padding-top: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
}

.bottomRight {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.small {
  color: var(--paragraph);
}

.link {
  color: var(--accent);
  text-decoration: underline;
  font-weight: 600;
  font-size: 1.4rem;
}

@media screen and (max-width: 1068px) {
  .top {
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .copy {
    width: 60%;
  }

  .links {
    padding-left: 0rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  .logoDetailsSocials {
    display: none;
  }

  .marqueeContainer {
    display: block;
  }
}

@media screen and (max-width: 568px) {
  .top {
    grid-template-columns: 1fr;
    gap: 5rem;
    padding-top: 5rem;
  }

  .copy {
    width: 95%;
  }

  .links {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }

  .logoDetailsSocials,
  .bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  .socialsContainer {
    margin-top: 2rem;
    gap: 3rem;
  }

  .socialIcon {
    width: 5rem;
    height: 5rem;
    padding: 1.2rem;
  }

  .logoContainer {
    flex-direction: column;
  }

  .small {
    font-size: 16px;
    line-height: 1.5;
  }

  .bottomRight {
    display: block;
  }

  .link {
    font-size: 16px;
    margin-right: 1rem;
  }
}
