.container {
  background-color: var(--cream);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  border-bottom: 2px solid var(--stroke);
  padding-bottom: 2rem;
}

/* .heading {
  text-align: center;
} */

.mapDataContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.bottom {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 220px;
  margin-top: 2rem;
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

.idTitleBox {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.idBox {
  background-color: var(--accent);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.id {
  color: var(--cream);
  font-size: 1.6rem;
}

.desc {
  color: var(--paragraph);
  -webkit-line-clamp: 2;
  line-clamp: 2;
  text-overflow: ellipsis;
  color: var(--paragraph);
  letter-spacing: -0.8px;
  -webkit-box-orient: vertical;
  font-size: 1.6rem;
  font-weight: 500;
  display: -webkit-box;
  overflow: hidden;
}

.btnContainer {
  margin-top: 1rem;
  /* display: grid; */
  /* width: 100%; */
}

.topBtnContainer {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnClusterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

@media screen and (max-width: 1068px) {
  .top {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .heading {
    text-align: center;
  }

  .card {
    width: 100%;
  }

  .bottom {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .mapDataContainer {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 568px) {
  .bottom {
    grid-gap: 7rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .imgContainer {
    height: 215px;
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .break {
    display: none;
  }
}
