.container {
  position: relative;
}

.media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 610px;
  overflow: hidden;
  z-index: 1;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.imgOverlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  position: relative;
  width: 100%;
  height: 610px;
  margin-top: 1rem;
  z-index: 2;
}

.contentChildren {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  height: 100%;
  margin-top: 10rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.heading {
  color: var(--cream);
}

.copy {
  color: var(--white);
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: -1.3px;
  max-width: 450px;
}

@media screen and (max-width: 1268px) {
  .contentChildren {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
  }

  .copy {
    font-size: 2rem;
  }

  .right {
    order: -1;
  }
  
  .heading {
    max-width: 640px;
  }
}
