.container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.media {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.imgOverlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.marqueeWrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.content {
  position: relative;
  z-index: 4;
  min-height: 90vh;
  padding-top: 15rem;
  padding-bottom: 16rem;
}

.contentChildren {
  margin-top: 0;
}

.cc1 {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-gap: 10rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.heading {
  color: var(--cream);
}

.copy {
  color: var(--white);
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: -1.3px;
  max-width: 450px;
}

.cc2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  width: 100%;
  height: 100%;
  max-width: 1600px;
  padding: 2rem 7rem;
  margin-left: auto;
  margin-right: auto;
}

.copyii {
  color: var(--white);
  max-width: 380px;
  line-height: 1.5;
}

.right2 {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 2rem;
}

.arrow {
  color: var(--white);
  transform: rotate(180deg);
  position: relative;
  top: 2px;
}

@media screen and (max-width: 1268px) {
  .cc1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
  }

  .copy {
    font-size: 2rem;
  }

  .right {
    order: -1;
  }

  .heading {
    max-width: 700px;
  }

  .content {
    padding-top: 8rem;
    padding-bottom: 18rem;
  }
}

@media screen and (max-width: 870px) {
  .cc2 {
    padding: 5rem 2rem;
  }
}

@media screen and (max-width: 768px) {
  .cc2 {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }

  .right2 {
    margin-left: 0;
    margin-right: auto;
    align-items: center;
  }
}

@media screen and (max-width: 568px) {
  .cc2 {
    padding: 5rem 1.7rem;
  }
}
