.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--cream);
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
  height: 100%;
  flex: 1;
}

.hamburgerContainer {
  display: none;
}

.navLinks {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease;
  position: relative;
  width: 100%;
}

.linksWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.closeWrapper {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
}

.navLink,
.signOutBtn,
.homeBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--black);
  text-decoration: none;
  background-color: var(--stroke);
  border-radius: 5px;
  width: 100%;
  padding: 1rem 2rem;
  white-space: nowrap;
  transition: all 0.2s ease-in;
}

.navLinkActive,
.navLink:hover {
  background-color: var(--accent);
  color: var(--white);
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  width: 100%;
}

.signOutBtn,
.homeBtn {
  cursor: pointer;
  background-color: var(--black);
  color: var(--cream);
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signOutBtn:hover {
  background-color: var(--black400);
}

.homeBtn {
  background-color: var(--paragraph);
}

.homeBtn:hover {
  background-color: var(--black300);
}

.arrow {
  transform: rotate(90deg);
}

@media screen and (max-width: 968px) {
  .linksWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .navLink {
    width: 100%;
  }

  @media screen and (max-width: 568px) {
    .linksWrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
