.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10rem;
}

.left {
  /* background-color: red; */
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.right {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
