.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10rem;
  margin-bottom: 5rem;
}

.logo {
  width: 100%;
  height: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5rem;
  width: 100%;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    margin-bottom: 3rem;
  }

  .logo {
    width: 30rem;
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
  .heading {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 20rem;
    height: 20rem;
    width: 100%;
  }

  .heading {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .right {
    gap: 0rem;
  }
}
