.container {
  background-color: var(--cream);
  padding: 10rem 0rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.digitalBox {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  transform: rotate(90deg);
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

.mapDataContainer {
  margin-top: 10rem;
}

.qaContainer {
  padding: 3rem 0rem;
  border-top: 1px solid var(--stroke);
  width: 100%;
  cursor: pointer;
  user-select: none;
  display: grid;
  cursor: pointer;
}

.questionActive {
  color: var(--accent);
}

.answerContainer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}

.answerContainer.show {
  max-height: 350px;
}

.answer {
  margin-top: 2rem;
  width: 100%;
  color: var(--paragraph);
}

.headingArrowContainer {
  display: grid;
  grid-template-columns: 6fr 1fr;
}

.arrowContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  color: var(--accent);
  width: 3rem;
  height: 3rem;
  transform: rotate(45deg);
}

.iconFlip {
  transform: rotate(230deg);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: var(--accent);
  width: 3rem;
  height: 3rem;
}

.h3Container {
  display: flex;
  gap: 1rem;
}

.index {
  margin-right: 1rem;
  font-size: 2rem;
}

.mobileHeading {
  display: none;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: 1fr;
    grid-gap: 5rem;
  }

  .mapDataContainer {
    margin-top: 0rem;
  }

  .imgContainer {
    height: 450px;
  }

  .desktopHeading {
    display: none;
  }

  .mobileHeading {
    display: block;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .imgContainer {
    height: 300px;
  }
}
